@media (min-width: 1400px) {
    .containers {
        width: 1320px;
        margin: 0px auto;

    }

    .container-inners {
        width: 1140px;
        margin: 0px auto;
    }

}

@media (min-width: 1200px)and (max-width: 1400px) {
    .containers {
        width: 1140px;
        margin: 0px auto;

    }

    .container-inners {
        width: 1000px;
        margin: 0px auto;
    }
}

@media (min-width: 992px)and (max-width: 1200px) {

    .containers {
        width: 960px;
        margin: 0px auto;

    }

    .container-inners {
        width: 960px;
        padding: 0px 66px 0px 66px;
    }
}

@media (min-width: 768px)and (max-width: 992px) {
    .containers {
        width: 100%;
        /* margin: 0px auto; */

    }

    .container-inners {
        width: 100%;
        /* margin: 0px auto; */
    }
}

@media (min-width: 576px)and (max-width: 768px) {
    .containers {
        width: 540px;
        margin: 0px auto;

    }

    .container-inners {
        width: 540px;
        margin: 0px auto;
    }
}

@media (min-width: 310px)and (max-width: 576px) {
    .containers {
        width: 100%;


    }

    .container-inners {
        width: 100%;
    }
}