@media (min-width: 576px)and (max-width: 768px) {
    .container {
        width: 540px;

    }

    .container-inner {
        width: 540px;
    }

    /* for ready to earn-- */
    .Earn-container {
        width: 100%;
        /* margin: 0px auto; */
        /* margin-top: 80px; */
    }

    .Earn-container-inner {
        width: 100%;
    }
    /* housting container-- */

    .housting-container{
        width: 540px; 
        /* background-color: red; */
        margin: 0px auto;
    }


    .container-inner {
        width: 720px;
    }

    .tab-mob-version {
        display: block;

    }

    .desktop-version {
        display: none;

    }

    .topnav a {
        padding: 23px 18px;
    }




    /* header--- */
    .header {
        height: 460px;
        margin-bottom: 422px;
    }

    .header-inner {
        padding-top: 0px;
    }

    .header-content {
        width: 100%;
        margin-top: 51px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .header-inner h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .header-descrip {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 5px;
    }

    .header-inner-btn {
        margin-bottom: 31px;
    }

    .header-icons {
        justify-content: center;
    }

    .card {
        right: 40px;
        top: 367px;
    }

    /* get paid quickly--- */


    .section-tittle {
        margin-top: 24px;
        font-size: 28px;
        line-height: 36px;
    }

    .section-summary {
        font-size: 16px;
        line-height: 28px;
        width: 100%;
    }

    #section-btn {
        display: block;
        margin: auto;
    }

    .Lets-rent {
        display: block;
    }

    .putYour-screenguist {
        display: block;
    }

    .putYour-screenguist-inner {
        display: block;
        text-align: center;
    }

    .Lets-rent-title {
        padding: 0px 24spx;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 26px;
        font-size: 28px;
    }

    .putYour-screenguist-title {
        font-size: 20px;
        line-height: 24px;
        margin-top: 0px;
    }

    .putYour-screenguist-icon {
        margin-bottom: 23px;
    }

    .putYour-screenguist-descri {
        font-size: 16px;
        line-height: 28px;
        padding: 0 24px;
        margin-bottom: 40px;
    }

    .putYour-screenguist-content {
        margin-left: 0px;
    }

    .section-line {
        margin: 55px 0px 65px 0px;
    }

    /* housting--- */
    .housting-content {
        display: block;
        margin-top: 24px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .housting-left-img img {
        width: 100%;
    }

    .houstin-right-para {
        padding-right: 0px;
        padding-left: 24px;
        margin-left: 0px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 28px;
    }

    .houstin-right-title {
        margin: 23px 0px 7px 0px;
        padding-right: 0px;

    }

    .housting-right {
        margin-top: 40px;
    }

    .tellUs {
        display: block;
        text-align: center;
    }

    .numberCircle {
        margin: auto;
    }

    .housting-learnMore-Btn {
        display: block;
        margin: auto;
    }

    /* ready to earn-- */

    .housting-lower {
        margin-top: 88px;
        display: block;
        padding: 0px;
        margin-bottom: 80px;
    }

    .housting-lower-left {
        padding: 0px;
        text-align: center;
        /* padding-left: 0px; */

    }

    .housting-lower-para {
        padding: 0px 24px;
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 1px;
        margin-top: 30px;
    }

    .housting-lower-title {
        font-size: 16px;
        line-height: 21.79px;
    }

    .housting-lower-right {
        display: none;
    }

    /* our feature-- */
    .feature-section {
        /* margin-top: 80px; */
        padding-top: 80px;
    }

    .controlOver {
        flex-direction: column-reverse;
        gap: 0px;
        margin-bottom: 64px;
        margin-top: 64px;
    }

    .rental-payment-title {
        padding: 0px 24px;
        margin-bottom: 28px;
        font-size: 24px;
        line-height: 32px;
    }

    .rentalProperty-right {
        padding-top: 0px;
        display: block;
        margin: auto;
        padding-right: 0px;
    }

    .paymentMade {
        display: block;
        padding: 0px;
        /* justify-content: center; */
    }

    .reantal-property {
        padding: 64px 0px 0px 0px;

        /* margin-top: 64px; */
        /* padding-top: 0px; */
        /* padding-left: 0px; */
        text-align: center;
    }

    .rental-payment-title-descrip {
        font-size: 16px;
        line-height: 28px;
        padding: 0px 20px;
        margin-bottom: 24px;
    }

    .paymentMade-right {
        text-align: center;
        padding-top: 0px;
        margin-top: 64px;
    }

    .paymentStatus {
        display: block;
    }

    .paymentStatus ul li {
        /* margin: auto; */
        justify-content: center;
        margin-bottom: 20px;
    }

    .paymentMade-left {
        text-align: center;
    }

    .watchMore {
        justify-content: center;
    }

    .paymentStatus ul li span {
        font-size: 14px;
    }

    .payment-section-line {
        margin: 74px 0px 64px 0px;
    }

    /* our-blogs--- */
    .ourBlog-cards {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-top: 47px;
    }

    .ourblogs {
        margin-top: 80px;
    }


    /* here */

    .lifestyle{
        font-size: 14px;
        line-height: 20px;
    }

    /* host worl wide-- */
    .hostWorldwide-inner {
        display: block;
        margin-top: 0px;
    }



    .hostAvarage {
        display: block;
    }

    .newTotal {
        display: block;
    }

    .hostWorldwide-card {
        margin-top: 48px;
    }

    .hostWorldwide-counter {
        font-size: 32px;
    }

    .hostWorldwide-title {
        font-size: 16px;
    }

    /* ready to earn-- */
    .readyToEarn-heading {
        margin-top: 64px;
        font-size: 28px;
        line-height: 36px;
    }

    .readyToEarn-title {
        font-size: 16px;
        line-height: 28px;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .readyToEarn-m-t {
        margin-top: 79px;
    }

    .readyToEarn {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 48px;
        background-image: url("./assets/tree-tab.png");
        border-radius: 0px;
    }

    .readyToEarn-btn {
        margin-bottom: 64px;

    }

    /* footer-- */

    footer {

        flex-direction: column-reverse;
        margin-left: 0px;
        gap: 24px;
    }

    .social-media {
        width: 50%;
        margin: auto;
        text-align: center;
        height: auto;
    }

    .social-media ul {
        justify-content: center;
    }

    .footer-nav {
        display: block;
        /* width: 95%; */
        height: auto;
    }

    .productService {
        /* width: 100%; */
        padding-left: 20px;
        justify-content: center;
        gap: 140px;


    }

    .productService-last-row {
        padding-right: 0px;
        padding-right: 20px;
    }

    .companyMore {
        /* width: 100%; */
        justify-content: center;
        gap: 168px;
        margin-top: 25px;

    }

    .footer-nav ul li {
        padding-bottom: 15px;
    }

    .companyMore-last-row li {
        padding-right: 20px;
    }

    .companyMore {
        /* padding-left: 20px; */
    }
}