@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }

    .w80 {
        width: 1056px;
    }

    .w-85 {
        width: 1122px;
    }
}

@media (min-width: 1200px)and (max-width: 1400px) {
    .container {
        width: 1140px;

    }

    /* .nav_list {
        width: 60%;
    }

    .card {
        right: 41px;
    }

    .cards {
        width: 320px;

    }

    .card-1-img {
        position: absolute;
        top: 171px;
        right: 11px;
    }

    .GetPaiBoxTwo {
        width: 62%;
    }

    .productService {
        width: 42%;
    }

    .companyMore {
        width: 48%;
    }

    .hostAvarage {
        width: 53%;
    }

    .houstin-right-para {
        margin-bottom: 28px;
    }

    .housting-right {
        margin-top: 61px;
    }

    .newTotal {
        width: 49%;
    }

    .readyToEarn-inner {
        padding-right: 0px;
    }

    .paymentMade-right {
        width: 51%;
    }

    .paymentMade-right p {
        width: 95%;
    }

    .paymentStatus {
        width: 95%;
    } */

}

@media (min-width: 992px) and (max-width: 1200px) {

    .container {
        width: 960px;

    }

    /* .nav_list{
        width: 70%;
    } */
    /* image-header card-- */

    /* .nav-contents{
        margin-left: 71px;
        margin-right: 71px;
    }
    .header-image-contents-left button{
        margin-bottom: 75px;
    }
    .header-image-contents{
        margin-left: 51px;
    }
    .card{
    right: 51px;
    }
    .card div{
        width: 397px;
    }
    .header-image-contents-left{
        width: 40%;
    }
    .header-image-contents-left button{
        margin-bottom: 51px;
    }
    .header-image-contents-left{
        text-align: center;
    }
    .nav-contents{
        margin-right: 51px;
        margin-right: 51px;
    }
    .GetPaid-inner{
        margin-left: 51px;
       }



    .housting-right{
        margin-top: 41px;
    }
    .houstin-right-para {
        margin-bottom: 15px;
    }
    .housting-learnMore-Btn{
        margin-top: 20px;
    }
    .housting-lower{
        margin-left: 0px;
    } */

    /* our feature-- */


    /* .rentalProperty{
        margin-left: 0px;
    }
    .paymentMade{
        margin-left: 0px;
    }
    .paymentStatus{
        width: auto;
    }
    .paymentMade-right {
        width: 51%;
    }
    .paymentMade-right p{
        width: auto;
    }

    

    .ourBlogs{
        margin-left: 0px;
    }
    .readyToEarn-inner{
        padding-right: 0px;
    }
    .readyToEarn {
        margin-left: 0px;
    }
    .cards {
        width: 305px;
    }
    .card-1-img {
        position: absolute;
        top: 158px;
        right: 15px;
    }
    .hostWorldwide{
        margin-left: 0px;
    }
    .hostAvarage{
        width: 51%;
    }
    .newTotal {
        width: 49%;
    } */

    /* footer-- */


    /* .productService{
        width: 46%;
    }
    .companyMore-last-row li{
        padding-right: 10px;
    }
    .companyMore{
        width: 46%;
    } */
}



/* tablet--- */

@media (min-width: 768px) and (max-width: 992px) {

    .container {
        width: 720px;
    }

    /* .topnav {
        display: block;
    }

    .desktop-version {
        display: none;
    }

    .nav_list {
        display: none;
    }

    .header-image-contents {
        margin-top: 86px;
    }

    .header-image-contents {
        display: flex;
        justify-content: center;
        margin-left: auto;
        width: 100%;
    }

    .header-image-contents-left {
        width: 100%;
        text-align: center;
    }

    .header-icons {
        justify-content: center;
    } */

    /* get paid quick--- */

    /* .GetPaid {
        margin-left: 0px;
        text-align: center;
    }

    .GetPaid-inner {
        margin-left: 0px;
    }

    .GetPaid-left {
        font-size: 32px;
    }

    .GetPaiBoxAll {
        display: block;
        margin-left: 0px;
        width: 100%;
    }

    .GetPaiBoxTwo {
        width: 100%;
    }

    .GetPaid-box-1 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 56px;
    }

    .homeWork-icon {
        margin-bottom: 9px;
    }

    .GetPaid-box-2 {
        display: block;
    }

    .GetPaid-box-3 {
        display: block;
    }

    .getPaidLine {
        margin-top: 64px;
        margin-bottom: 80px;
    } */


    /* housting--- */

    /* .housting{
        margin-bottom: 120px;
    }
   
    .housting-content {
        display: block;
        margin-bottom: 112px;
    }

    .housting-inner {
        margin-left: 0px;
    }
    .housting-tittle{
        font-size: 32px;
    }
    .housting-para{
        margin-bottom: 56px;
    }

    .houstingileft-img {
        width: 100%;
    }

    .housting-right {
        width: 100%;
        text-align: center;
        margin-top: 48px;
    }

    .tellUs {
        display: block;
    }

    .numberCircle {
        margin: auto;
    }

    .houstin-right-para {
        margin-left: 0px;
        margin-bottom: 46px;
        padding: 0px 61px 0px 61px;
    }
    .houstin-right-title{
        margin-top: 22px;
    }

    .housting-learnMore-Btn {
        margin-left: 0px;
    } */


    /* houstinf-lower-- */

    /* .housting-lower {
        display: block;
        margin-left: 0px;
    }

    .housting-lower-left {
        width: 100%;
        text-align: center;
        padding-top: 0px;
    }
    .housting-lower-para{
        padding: 0px 65px 0px 65px;
    }
    .housting-lower-title{
        margin-bottom: 62px;
    }

    .housting-lower-right {
        width: 100%;
    }

    #housting-lower-right-img {
        width: auto;

    } */

    /* our feature-- */

    /* .ourFeature{
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .rentalProperty {
        margin-left: 0px;
        margin-top: 8px;
        margin-bottom: 64px;
    }

    .rentalProperty-left {
        width: 59%;
    }

    .rentalProperty-right {
        width: 35%;
    }

    .rentalProperty-right img {
        width: 100%;
    }
    .paymentMade-right p{
        width: 100%;
    }
    .paymentStatus{
        width: 100%;
    }
   

    .paymentMade {
        margin-left: 0px;
    }

    .paymentMade-left img {
        width: 100%;
    }

    .paymentMade-left {
        width: 35%;
        padding-left: 0px;

    }

    .paymentMade-right {
        width: 60%;

    } */





    /* host worldwide--- */

    /* .hostWorldwide {
        margin-left: 0px;
    }
    .hostWorldwide-card{
        margin-bottom: 65px;
        height: auto;
    }

    .hostWorldwide-inner {
        display: block;
        width: 80%;
    }

    .hostAvarage {
        width: auto;
    }

    .newTotal {
        width: auto;
    } */

    /* ready to earn--- */

    /* .readyToEarn-inner {
        padding-right: 0px;
    }

    .readyToEarn {
        margin-left: 0px;
        padding-left: 48px;
    } */

    /* footer--- */

    /* footer {
        margin-left: 50px;
    }

    .footer-nav {
        display: block;
    }

    .social-media {
        width: auto;
    }

    .productService {
        width: auto;
    }

    .companyMore {
        width: auto;
    }

    .productService-last-row {
        padding-right: 15px;
    }

    .companyMore-last-row li {
        padding-right: 15px;
    } */



    /* mobile-nav-- */

    /* .nav-contents {
        margin-left: 0px;
        margin-right: 0px;
    }


    .topnav a {
        margin-left: 53px;
        margin-right: 53px;
        padding: 0px 0px !important;
    } */



}



/* mobile-- */

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .topnav{
        display: block;
    }
    .desktop-version{
        display: none;
    }
    .nav-contents{
        /* margin-left: 24px;
        margin-right: 24px; */
        margin: 23px;

    }
    .topnav a{
        padding: 0px !important;
    }
    .nav_list{
        display: none;
    }
    
    .header-image-contents{
        margin-left: 0px;
        margin-top: 51px;
    }
    .header-image-contents-left{
        width: 100%;
    }
    .header-image-contents-left h3{
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 40px;
        padding-left: 24px;
        padding-right: 57px;
    }
    .header-image-contents-left p{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        margin-bottom: 16px;
        padding-left: 24px;
        padding-right: 40px;
    }
    .header-image-contents-left button{
        font-size: 16px;
    }
    button span {
        right: 17px;
    }
    .header-image-contents-left{
    text-align: center;
    }
    .header-icons{
    justify-content: center;
    }

    /* getpaid--btn--- */

    .GetPaid{
        margin-left: 0px;
        text-align: center;
    }
    .GetPaid-inner {
        margin-left: 0px;
    }
    #GetPaid-btn {
        margin-bottom: 26px;
        font-size: 14px;
    }
    .GetPaid-left{
        font-size: 28px;
        padding: 0px 28px;
        margin-bottom: 40px;
    }
    .homeToWork{
        font-size: 20px;
        margin-top: 23px;
        margin-bottom: 7px;
    }
    .homeToWork-bottom {
        font-size: 16px;
        line-height: 28px;
        padding: 0px 24px;
        margin-bottom: 40px;
    }
    .getPaidLine{
        margin-top: 55px;
        margin-bottom: 65px;
    }

    .GetPaiBoxAll{
        display: block;
    }
    .GetPaid-box-1{
        width: 100%;
        text-align: center;
    }
    .GetPaiBoxTwo{
        display: block;
        width: 100%;
    }
    .GetPaid-box-2{
        width: 100%;
        display: block;
    }
    .GetPaid-box-3{
        width: 100%;
        display: block;
    }
    .homeWork-icon{
        text-align: center;
    }
    .guist-icon{
        text-align: center;
    }
    .homeWork{
        text-align: center;
        
    }
    .guist{
        text-align: center;
    }
    .housting-tittle {
        padding: 0px 28px;
    }
    .housting-para{
        padding: 0px 28px;
        margin-bottom: 24px;
    }


    /* housting--- */

    .housting-content{
        display: block;
    }
    .houstingileft-img{
        width: auto;
    }
    .tellUs{
        display: block;
    }
    .housting-right {
        width: auto;
        text-align: center;
    }
    .numberCircle{
        margin: auto;
    } 

    /* housting lower--- */

     .housting-lower{
        margin-left: 0px;
        display: block;
    }
    .housting-lower-left{
        width: 100%;
        text-align: center;
    }
    .housting-lower-right{
        width: 100%;
    }


    /* our feature--- */

    .rentalProperty{
        margin-left: 0px;
    }
    .rentalProperty{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        
    }
    .rentalProperty-left{
        width: auto;
        text-align: center;
    }
    .rentalProperty-right{
         width: auto;
    }
    .paymentMade{
        margin-left: 0px;
    }
    .paymentMade{
        display: block;
    }
    .paymentMade-left{
        width: auto;
    }
    .paymentStatus{
        
    }

    /* world wide---- */

    .housting-inner{
        margin-left: 0px;
    }
    .hostAvarage{
        width: 100%;
        display: block;
    }
    .newTotal{
        width: 100%;
        display: block;
    }
    .hostWorldwide-inner{
        display: block;
    } */

    /* ready to earn-- */

    /* .readyToEarn-inner{
        padding-right: 0px;
    }

    .readyToEarn{
        margin-left: 0px;
        padding-left: 20px;
    }

    /* footer-- */

    footer{
       
        flex-direction: column-reverse;
        margin-left: 0px;
     }
     .social-media{
        width: 50%;
        margin: auto;
        text-align: center;
        height: auto;
     }
     .social-media ul{
        justify-content: center;
     }
     .footer-nav{
        display: block;
        width: 95%;
        height: auto;
     } 
     .productService{
        width: 100%;
        padding-left: 20px;
        
        
     } 
     .productService-last-row{
        padding-right: 0px;
        padding-right: 20px;
     }
     .companyMore {
        width: 100%;
       
     }
     .companyMore-last-row li{
     padding-right: 20px;
     }
     .companyMore{
        padding-left: 20px;
     }

}

@media (min-width: 310px) and (max-width: 576px) {


    /* .container {
        width: 100%;

    } 
    .topnav{
        display: block;
    }
    .desktop-version{
        display: none;
    }

    .nav-contents{
        margin-left: 20px;
    }
    .nav_list{
        display: none;
    }
    
    .header-image-contents{
        margin-left: 0px;
    }
    .header-image-contents-left{
        width: 100%;
    }
    .header-image-contents-left{
    text-align: center;
    }
    .header-icons{
    display: none;
    } */

    /* getpaid--btn--- */

    /* .GetPaid{
        margin-left: 0px;
        text-align: center;
    }
    .GetPaiBoxAll{
        display: block;
    }
    .GetPaid-box-1{
        width: 100%;
        text-align: center;
    }
    .GetPaiBoxTwo{
        display: block;
        width: 100%;
    }
    .GetPaid-box-2{
        width: 100%;
        display: block;
    }
    .GetPaid-box-3{
        width: 100%;
        display: block;
    }
    .homeWork-icon{
        text-align: center;
    }
    .guist-icon{
        text-align: center;
    }
    .homeWork{
        text-align: center;
    }
    .guist{
        text-align: center;
    } */

    /* housting--- */

    /* .housting-content{
        display: block;
    }
    .houstingileft-img{
        width: auto;
    }
    .tellUs{
        display: block;
    }
    .housting-right {
        width: auto;
        text-align: center;
    }
    .numberCircle{
        margin: auto;
    } */

    /* housting lower--- */

    /* .housting-lower{
        margin-left: 0px;
        display: block;
    }
    .housting-lower-left{
        width: 100%;
        text-align: center;
    }
    .housting-lower-right{
        width: 100%;
    } */

    /* our feature--- */

    /* .rentalProperty{
        margin-left: 0px;
    }
    .rentalProperty{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        
    }
    .rentalProperty-left{
        width: auto;
        text-align: center;
    }
    .rentalProperty-right{
         width: auto;
    }
    .paymentMade{
        margin-left: 0px;
    }
    .paymentMade{
        display: block;
    }
    .paymentMade-left{
        width: auto;
    }
    .paymentStatus{
      
    } */


    /* world wide---- */

    /* .housting-inner{
        margin-left: 0px;
    }
    .hostAvarage{
        width: 100%;
        display: block;
    }
    .newTotal{
        width: 100%;
        display: block;
    }
    .hostWorldwide-inner{
        display: block;
    } */

    /* ready to earn-- */

    /* .readyToEarn-inner{
        padding-right: 0px;
    }

      .readyToEarn{
        margin-left: 0px;
        padding-left: 20px;
    } */

    /* footer-- */

    /* footer{
        flex-direction: column-reverse;
        margin-left: 0px;
     }
     .social-media{
        width: 50%;
        margin: auto;
        text-align: center;
        height: auto;
     }
     .social-media ul{
        justify-content: center;
     }
     .footer-nav{
        display: block;
        width: 95%;
        height: auto;
     } 
     .productService{
        width: 100%;
        padding-left: 20px;
        
        
     } 
     .productService-last-row{
        padding-right: 0px;
        padding-right: 20px;
     }
     .companyMore {
        width: 100%;
       
     }
     .companyMore-last-row li{
     padding-right: 20px;
     }
     .companyMore{
        padding-left: 20px;
     } */


}